body {
    margin: 20px;
}

.array-element {
    font-size: 20px;
}

.line {
    display: flex;
    justify-content: space-around;
    border: 0;
    margin: 0;
    padding: 10px 0 10px 0;
}

.tree-column {
    justify-content: space-around;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}
.tree-column-max {
    justify-content: space-around;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
    width: 50%;
}
.tree-column-colapse {
    border: 0;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    display: flex;
}

button {
    padding: 10px;
    background-color: white;
    border: blue 2px solid;
    font-size: 25px;
    cursor: pointer;
}

.merge-tree-container {
    background-color: beige;
}